@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* theme color  */

html {
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
    /* Adjust this value based on your header height */
}

:root {
    --primary-color: #70e000;
    --secondary-color: #000000;
    --success-color: #4B286D;
    --bg-gray: #f2f2f2;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******************* global component styling *************************** */

.heading-1 {
    font-size: 47px;
    font-weight: 800;
    line-height: 58px;
}

.heading-2 {
    font-size: 34px;
    line-height: 44px;
    font-weight: 800;
    margin: 0;
}

.heading-3 {
    font-size: 28px;
    line-height: 38px;
    font-weight: 800;
}

.heading-4 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 800;

}

.primary-text {
    color: var(--primary-color);
}

.secondary-text {
    color: var(--secondary-color);
}

.theme-light-bg {
    background-color: var(--bg-gray) !important;
}

.theme-secondary-bg {
    background-color: var(--secondary-color) !important;
}

.theme-primary-bg {
    background-color: var(--primary-color) !important;
}

.tagline {
    font-size: 20px;
}

.para {
    font-size: 16px;
    line-height: 29px;
}

.lg-para {
    font-size: 18px;
    line-height: 32px;
}


.theme-dark-btn {
    background-color: var(--primary-color);
    text-decoration: none;
    box-shadow: 2px 3px 4px #000000ad;
    padding: 7px 17px;
    color: #000000;
    font-size: 18px;
    position: relative;
    border-radius: 5px;
    font-weight: 600;
    overflow: hidden;
    text-align: center;
    transition: background-color 0.4s ease, color 0.4s ease;
    display: inline-block;
}

.theme-dark-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0));
    transition: all 1.2s ease;
}

.theme-dark-btn:hover::before {
    left: 100%;
}

.theme-dark-btn:hover {
    background-color: var(--primary-color);
}


.theme-light-btn {
    border-radius: 50px;
    background-color: var(--bg-gray);
    text-decoration: none;
    padding: 7px 17px;
    color: var(--primary-color);
    position: relative;
    overflow: hidden;
    transition: background-color 0.4s ease, color 0.4s ease;
    font-weight: 500;
}

.section {
    padding: 60px 0px;
}

button,
a {
    cursor: pointer !important;
}

.theme-check-list {
    list-style: none;
    padding-left: 0;
}

.theme-check-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 25px;
    font-size: 18px;
}

.theme-check-list li::before {
    content: "\F270";
    font-family: "bootstrap-icons";
    position: absolute;
    left: 0;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
}

.corner-effect {
    position: relative;
    z-index: 1;
}

.corner-effect::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    background-color: var(--secondary-color);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: -1;
}

.corner-effect::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background-color: var(--secondary-color);
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    z-index: -1;
}

.styled-img {
    border-radius: 20px;
    box-shadow: 1px 2px 2px #000;
}



/* ************************** Hero Section Styling ************************* */

.hero-content h1 {
    font-size: 38px;
    line-height: 49px;
    font-weight: 600;
}

.hero-content h1 .secondary-text {
    display: block;
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
}

.hero-content h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    margin-top: 19px;
}

section.hero-section {
    /* padding: 80px 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%),
        url("../images/hero-img.webp");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}


/* ************************** Why Choose styling ******************************** */


section.why-choose li strong {
    color: #000000;
    font-weight: 600;
}

section.why-choose ul.theme-check-list li::before {
    font-size: 47px;
    top: -11px;
}

section.why-choose ul.theme-check-list li:nth-child(1)::before {
    content: "\F4E6";
}

section.why-choose ul.theme-check-list li:nth-child(2)::before {
    content: "\F245";
}

section.why-choose ul.theme-check-list li:nth-child(3)::before {
    content: "\F3C2";
}


section.why-choose ul.theme-check-list li {
    margin-bottom: 20px;
    padding-left: 62px;
}

/* ********************* system info sec *************************  */

.info-card {
    padding: 25px;
    background: var(--secondary-color);
    height: 100%;
    border-radius: 20px;
    color: var(--ilght-text);
    border: 3px solid var(--primary-color);
    cursor: pointer;

}

.info-card p {
    font-weight: 300 !important;
    margin-top: 15px;
    color: #fff;
}

.info-card .info-icon {
    display: inline-block;
    padding: 7px;
    line-height: 0;
    background: var(--primary-color);
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    margin-top: -50px;

}

.info-card:hover {
    background-color: var(--primary-color);
}

.info-card:hover .info-icon {
    background-color: var(--secondary-color);
    border-color: var(--primary-color);
}

.info-icon i {
    font-size: 40px !important;
    color: white;
}

.info-card .heading-4 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: 600;
}

/* ************* Steps Section Styling ****************** */

section.why-choose.steps-sec ul.theme-check-list li {
    font-size: 16px;
    line-height: 26px;
}

section.why-choose.steps-sec ul.theme-check-list li::before {
    font-family: "Poppins", sans-serif;
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--secondary);
    font-size: 35px;
    top: 2px;
    border: 3px solid;
    box-shadow: 2px 4px 4px #00000017;
}

section.why-choose.steps-sec ul.theme-check-list li:nth-child(1)::before {
    content: "1";
}

section.why-choose.steps-sec ul.theme-check-list li:nth-child(2)::before {
    content: "2";
    font-family: "Poppins", sans-serif;

}

section.why-choose.steps-sec ul.theme-check-list li:nth-child(3)::before {
    content: "3";
    font-family: "Poppins", sans-serif;

}

/************************* testimonial section  ******************************/

.new-testi-sec {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../images/testi-bg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.review-img img {
    width: 100px;
    border-radius: 100%;
    padding: 4px;
    border: 2px solid var(--primary-color);
    background: transparent;
    margin-bottom: 10px;
}

.review-content h4 {
    font-size: 20px;
    margin-bottom: 9px;
    color: var(--primary-color);
}

.review-content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
    color: #f2f2f2;
}

/* ************************ Testi Monial Section ******************** */

.accordion {
    border-bottom: 1px solid var(--lightgray);
}

.accordion .accordion-item {
    border: none;
    border-bottom: 2px solid var(--secondary-color);
    padding: 0px 10px;
    background: transparent;
    padding-right: 19px;
}


.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding-right: 36px !important;
    padding: 1em 0;
    color: var(--secondary-color);
    font-size: 1.15rem;
    font-weight: 500;
    border: none;
    background: none;
    outline: none;
    transition: color 0.3s;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: black;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: var(--blue);
    border: 1px solid var(--blue);
}

.accordion .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 16px;
}

.accordion .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded="true"] {
    color: var(--primary-color);
}

.accordion button[aria-expanded="true"] .icon::after {
    width: 0;
}

.accordion button[aria-expanded="true"]+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5em 0 1.5em 0;
    color: black;
}

/* ***************** Contact Styling ********************/

.contact-page-sec .contact-info {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    height: 100%;
}

.contact-page-sec .contact-info-icon {
    margin-bottom: 15px;
}

.contact-page-sec .contact-info-item {
    background: var(--secondary-color);
    padding: 30px 10px;
    height: 100% !important;
    border-radius: 20px;
    border: 4px solid var(--primary-color);
}

.contact-page-sec .contact-page-form .col-md-6.col-sm-6.col-xs-12 {
    padding-left: 0px;
}

.contact-page-sec .contact-page-form.contact-form input {
    margin-bottom: 5px;
}

.contact-page-sec .contact-page-form.contact-form textarea {
    height: 110px;
}

.contact-page-sec .contact-page-form.contact-form input[type="submit"] {
    background: rgb(7, 28, 52);
    width: 150px;
    border-color: rgb(7, 28, 52);
}

.contact-page-sec .contact-info-icon i {
    font-size: 48px;
    color: rgb(112 224 0);
}

.contact-page-sec .contact-info-text p {
    margin-bottom: 0px;
}

.contact-page-sec .contact-info-text h2 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-page-sec .contact-info-text span {
    color: rgb(229, 229, 229);
    font-size: 16px;
    display: inline-block;
    width: 100%;
}

.contact-page-sec .contact-page-form input {
    background: none 0px 0px repeat scroll rgb(249, 249, 249);
    border: 1px solid rgb(249, 249, 249);
    margin-bottom: 20px;
    padding: 12px 16px;
    width: 100%;
    border-radius: 4px;
}

.contact-page-sec .contact-page-form .message-input {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}

.contact-page-sec .single-input-field textarea {
    background: none 0px 0px repeat scroll rgb(249, 249, 249);
    border: 1px solid rgb(249, 249, 249);
    width: 100%;
    height: 163px;
    padding: 12px 16px;
    border-radius: 4px;
}

.contact-page-sec .single-input-field h4 {
    color: rgb(70, 70, 70);
    text-transform: capitalize;
    font-size: 14px;
}

.contact-page-sec .contact-page-form {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

.contact-page-sec .contact-page-map {
    margin-top: 36px;
}

.contact-page-sec .contact-page-form form {
    padding: 20px 15px 0px;
}


/********************* final cta section ********************** */

section.section.final-cta {
    border: 8px dashed var(--primary-color);
}

/* ************************* Phone and Whatsapp widget ***********************/


.phone-widget {
    z-index: 99999999;
    position: fixed;
    bottom: 18px;
    left: 26px;
}

.phone-widget div {
    width: 60px;
    height: 60px;
    background: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 29px;
    box-shadow: 1px 3px 6px #0000004d;
    border: 2px solid var(--primary-color);
    transition: 0.4s;
}

.phone-widget div:hover {
    opacity: 0.9;
}

.phone-widget div i {
    color: var(--primary-color);
}

.whatsapp-widget {
    z-index: 99999999;
    position: fixed;
    bottom: 18px;
    right: 26px;
    cursor: pointer !important;
}

.whatsapp-widget div {
    width: 60px;
    height: 60px;
    background: #42BF50;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 29px;
    box-shadow: 1px 3px 6px #0000004d;
    border: 2px solid #42BF50;
    transition: 0.4s;
    cursor: pointer !important;

}

.whatsapp-widget div:hover {
    opacity: 0.9;
    cursor: pointer !important;
}

.whatsapp-widget div i {
    color: #fff;
    cursor: pointer !important;
}

/* ******************* Footer Section ****************************/


.footer-section img {
    max-width: 100%;
    height: auto;
    width: 180px;
}

.footer-section {
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
    z-index: 9;
}

.footer-section .footer-top {
    padding-top: 60px;
    padding-bottom: 25px;
}


.footer-top .site-logo {
    margin-bottom: 25px;
    display: block;
    max-width: 200px;
}


.footer-section .sm-icons {
    flex-direction: row;
}

.footer-section .sm-icons .nav-link {
    padding-right: 1em;
}

.footer-section .copy-right-text {
    color: rgb(255, 255, 255);
}

.footer-section .copy-right-text a {
    color: var(--white-font);
}

.footer-section ul.navbar-nav.sm-icons i {
    font-size: 30px;
    color: var(--primary-color) !important;
}

.footer-bottom {
    padding: 6px;
    border-top: 1px solid #d3d3d329;
}

@media only screen and (max-width: 1024px) {
    .hero-content h1 .secondary-text {
        font-size: 50px;
        line-height: 70px;
    }

    .hero-content h1 {
        font-size: 33px;
        line-height: 44px;
    }

    .tagline {
        font-size: 18px;
    }

    .hero-content h1 .secondary-text {
        font-size: 42px;
        line-height: 62px;
    }

    .hero-content h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .heading-2 {
        font-size: 28px;
        line-height: 38px;
    }
}

@media only screen and (max-width: 991px) {
    section.hero-section {
        min-height: auto !important;
    }

    section.hero-section {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.4) 100%), url(../images/hero-img.webp);
    }

    .theme-check-list li {
        font-size: 16px !important;
    }

    section.contact-page-sec.section .col-md-4 {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 690px) {
    .section {
        padding: 40px 0px;
    }

    .accordion button:hover,
    .accordion button:focus {
        padding-right: 30px;
    }

    .heading-3 {
        font-size: 22px;
        line-height: 32px;
    }
}

@media only screen and (max-width: 480px) {
    .hero-content h1 .secondary-text {
        font-size: 36px;
        line-height: 58px;
    }

    .heading-2 {
        font-size: 24px;
        line-height: 34px;
    }
}

@media only screen and (max-width: 414px) {
    .hero-content h1 .secondary-text {
        font-size: 31px;
        line-height: 52px;
    }

    .hero-content h1 {
        font-size: 27px;
        line-height: 36px;
    }

}

@media only screen and (max-width: 375px) {
    .hero-content h1 .secondary-text {
        font-size: 28px;
        line-height: 49px;
    }

    .hero-content h1 {
        font-size: 24px;
        line-height: 33px;
    }

    .heading-2 {
        font-size: 21px;
        line-height: 30px;
    }
}